div#riddle-choice-container {
    text-align: center;
}
div#riddle-choice-container p {
    margin: 7px;
    font: 1em Roboto;
    color: #5e3ee2;
}
div#riddle-choice-container a {
    width: 30%;
    margin: 15px auto;
    border: 2px solid #5e3ee2;
    display: block;
    text-decoration: none;
    color: #5e3ee2;
    padding: 15px;
    font: 2em Forced-Square;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
}
div#riddle-choice-container a:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
div#riddle-choice-container a img {
    float: left;
}

@media only screen and (max-width: 720px) {
    div#riddle-choice-container a {
        width: 80%;
    }
}
